<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">New User</li>
  </ol>
</nav>
{{#if alert}}
<div class="alert alert-success" role="alert">
  Success!
</div>
{{/if}}
<form class="row p-5 needs-validation" method="post" action="/adduser" novalidate>
  {{>userform}}
</form>